body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgb(234, 218, 179);
}
html{
    margin: 0;
    padding: 0;
    overflow:   scroll;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

h1 {
    margin: 0;
    font-family:"Lucida console", monospace;
    font-size: 100px;
    color:#00003D; 
    text-align: center;
    align-items: center;
    margin-top: 20px;
    }

.navbar {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
    overflow: hidden;
    background-color:#663300;
    width: 100vw;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color:rgb(242, 221, 187);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
        background-color: rgb(227, 186, 120);
    }
  
    a:hover {
    color: black;
  }
  
  .navbar a:active {
    opacity: 0.7;}

  li {
    display: inline;
  }
  .navbar input[type=text] {
      float: right;
      padding: 6px;
      border: none;
      margin-top: 8px;
      margin-right: 16px;
      font-size: 17px;
      color:black;
      background-color:rgb(234, 203, 153);
    }

  .Contacts-text {
      color: #00003D;
     font-size: 30px;
     text-align: center;
    }

    /* The flip card container */
  .flip-card1 {
     background-color: transparent;
     width: 19vw;
     height: 39vh;
     border: 0px solid #f1f1f1;
     margin-left: 30px;
     perspective: 1000px; 
     margin-bottom: 40px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner1 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card1:hover .flip-card-inner1 {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front1, .flip-card-back1 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front1 {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back1 {
    background-color: #663300;
    color: rgb(242, 221, 187);
    transform: rotateY(180deg);
    font-family: "Lucida console", monospace;
  }
  .flip-card-back1 h1 {
    color: rgb(242, 221, 187);
    font-family: "Lucida console", monospace;
    font-size: 50px;
    margin-bottom: 60px; }


.flip-card2 {
  background-color: transparent;
  width: 19vw;
  height: 39vh;
  border: 0px solid #f1f1f1;
  margin-left: 30px;
  perspective: 1000px; 
}

/* This container is needed to position the front and back side */
.flip-card-inner2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card2:hover .flip-card-inner2 {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front2, .flip-card-back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front2 {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back2 {
  background-color: #663300;
  color: rgb(242, 221, 187);
  transform: rotateY(180deg);
  font-family: "Lucida console", monospace;
}
.flip-card-back2 h1 {
  color: rgb(242, 221, 187);
  font-family: "Lucida console", monospace;
  font-size: 50px;
  margin-bottom: 60px;
}

.flip-card3 {
  background-color: transparent;
  width: 19vw;
  height: 39vh;
  border: 0px solid #f1f1f1;
  margin-left: 30px;
  perspective: 1000px;
  margin-top: 40px;
  margin-bottom: 60px;
}

/* This container is needed to position the front and back side */
.flip-card-inner3 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card3:hover .flip-card-inner3 {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front3, .flip-card-back3 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front3 {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back3 {
  background-color: #663300;
  color: rgb(242, 221, 187);
  transform: rotateY(180deg);
  font-family: "Lucida console", monospace;
}
.flip-card-back3 h1 {
  color: rgb(242, 221, 187);
  font-family: "Lucida console", monospace;
  font-size: 50px;
  margin-bottom: 60px;
}
.p1 {
  float: left;
  margin-left: 370px;
  margin-top: 180px;
  color: #00003D;
  font-size: 30px;
  font-family:"Lucida console", monospace;
}

.p2 { 
  float: left;
  margin-left: 370px;
  margin-top: 220px;
  color: #00003D;
  font-size: 30px;
  font-family:"Lucida console", monospace;
}

.p3 {
  float: left;
  margin-left: 370px;
  margin-top: 230px;
  color: #00003D;
  font-size: 30px;
  font-family:"Lucida console", monospace;
}

.p4 {
  float: left;
  margin-right: 60px;
  margin-left: 30px;
  margin-top: 230px;
  margin-bottom: 50px;
  color: #00003D;
  font-size: 30px;
  font-family:"Lucida console", monospace;
}

.footer-basic  {
  padding:10px 0;
  background-color:#663300;
  color: rgb(242, 221, 187);
  height: 25vh;
  margin-top: 50px;

}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  color:black;
  background-color:rgb(227, 186, 120);
}
.footer-basic .list-inline > li:hover {
  color:black;
  background-color:rgb(227, 186, 120);}


.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:footer-basic;
  padding:40px 0;
  color: rgb(242, 221, 187);
  margin-bottom:0;
}

.social,.list-inline,.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

